input,textarea, select {
    display: block;
    width: 30%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 10px 0px;
    text-align: left;
    align-items: center;
}
label {
  font-size: 30px;

}
.button {
  padding: 15px;
  width: 200px;
  margin: auto;

  margin-top: 2rem;
  text-decoration: none;
}
.elements{
  align-items: center;
  width:2000px;
  margin-left:400px;
  margin-top: 20px;
}
.bookform{
  margin-top: 30px;
  margin-left: 0px;
  width: 95%;
  background: #fff;
  border-radius: 2px;
  padding: 2rem 2rem 5rem;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
}

h1{
  margin-left: 5%;
}
