body,footer {
	font-family: 'Trebuchet MS', sans-serif;
	margin:0;
    color: #2e3131;
    line-height: 2em;
    padding-top:
	}

.navbar {
  position: relative;
}

.container {
  min-width: 1000px;
  max-width: 1500px;
  margin: auto;
}

.container2 {
  min-width: 1000px;
  max-width: 1500px;
  margin: auto;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p{
  font-size: 20px;
}

nav{
  background-color: transparent;
}

h2{
  color:#59abe3;
  font-size: 30px;
}

h1{
  font-size: 50px;
}

h1,h2,h3,h4,h5{

font-weight: normal;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #2e3131;
    text-align: center;
    padding-top: 30px ;
    text-decoration: none;
	width: 180px;
}

li a:hover {
    color: #59abe3;
}

a.active {
    color: #59abe3;
}

.button {
    background-color: #59abe3;
    border: none;
    color: white;
    margin: 15px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    border-radius: 40px;
    color: white;
		text-decoration: none;
}

.home-thumbnail{
	height:42;
	width:42;
}

.service{
  width:60px;
}
.hero-image {
  background-image: url("media/footer-bg.png");
  background-color: #cccccc;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

.column {
    float: left;
    width: 33.33%;
}

.column-left{
  margin-right:35px;
}
.column-middle{
  margin-right:18.5px;
  margin-left:18.5px;
}
.column-right{
  margin-left:35px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footerTable td{
    padding: 8px;
    font-size: 20px;
}

.footerTable > *:first-child:not(thead) td:first-child {
  font-weight: bold;
}

.banner-container{
    background-size:  1500px;
  height: 750px;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  background-color: #e4f1fe;
}

.banner-text{
    padding: 60px 0;
    width:50%;
}

.banner-text-2{
    padding: 150px 0;
    width:50%;    
  font-size: 70px;

}
.banner-container-2{
    background-size:  1500px;
  height: 500px;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  background-color: #e4f1fe;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column2 {
    flex: 50%;
}

#team{
   background-image: 'team.png';
   background-color: #cccccc;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.boxhead a a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


#status {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#status td, #status th {
    border: 1px solid #ddd;
    padding: 8px;
}

#status tr:nth-child(even){background-color: #f2f2f2;}

#status tr:hover {background-color: #ddd;}

#status th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:   #378FCE;
    color: white;
}