body,footer {
	font-family: Verdana, sans-serif; 
	margin:0;
    color: #2e3131; 
	}

.navbar {
  position: relative;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p{
  font-size: 20px;
}

nav{
  background-color: transparent;
}

h2{
  color:#59abe3;
}

h1{
  font-size: 40px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #2e3131;
    text-align: center;
    padding-top: 30px ;
    text-decoration: none;
	width: 180px;
}

li a:hover {
    color: #59abe3;
}

a.active {
    color: #59abe3;
}

.button {
    background-color: #59abe3;
    border: none;
    color: white;
    margin: 15px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    background-image: linear-gradient(270deg, rgb(50, 200, 250) 0%, rgb(88, 125, 228) 100%);
    border-radius: 40px;
    color: white;
}

.home-thumbnail{
	height:42;
	width:42;
}

.hero-image {
  background-image: url("media/footer-bg.png");
  background-color: #cccccc;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.column {
    float: left;
    width: 33.33%;
}

.column-left{
  margin-right:20px;
}
.column-middle{
  margin-right:10px;
  margin-left:10px;
}
.column-right{
  margin-left:20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footerTable td{
    padding: 8px;
}

.footerTable > *:first-child:not(thead) td:first-child {
  font-weight: bold;
}

.banner-container{
  background-image: url("media/about-bg.png");
    background-size:  50%;
  height: 700px;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  background-color: #e4f1fe;
}

.banner-text{
    padding: 70px 0;
    width:50%;
}

